@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap);
$Dark-Pink: #ba4270;
$link-Water-White: #fbfcfe;
$San-Juan-Blue: #36536b;
$Mirage-Blue: #1b262f;
$Charm-Pink: #da6d97;
$Light-San-Juan-Blue: #6c8294;
$Test-Color: #edf3f8;

$Sans: "Public Sans";
$Serif: " DM Serif Display";

//sizes
$psize: 15px;
$h1size: 72px;


