@import url(https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,100..900;1,100..900&display=swap);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: #edf3f8;
}

header {
  overflow-x: hidden;
  position: relative;
  width: 100%;
  min-height: 200px;
  padding: 40px 165px 0 165px;
}
@media (max-width: 992px) {
  header {
    padding: 40px 40px 82px 40px;
  }
}
@media (max-width: 700px) {
  header {
    padding: 40px 24px 82px 24px;
  }
}
header nav {
  display: flex;
  align-items: center;
}
header nav .menu {
  display: none;
}
@media (max-width: 700px) {
  header nav .menu {
    display: inline-block;
    margin-left: auto;
  }
}
header nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
  margin-left: 64px;
}
@media (max-width: 700px) {
  header nav ul {
    display: none;
  }
}
header nav ul li a {
  text-decoration: none;
  color: #36536b;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 700;
  font-size: 15px;
}
header nav button {
  margin-left: auto;
  padding: 14px 24px;
  border-radius: 24px;
  background: #ba4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  color: #fbfcfe;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
}
header nav button:hover {
  background-color: #da6d97;
}
@media (max-width: 700px) {
  header nav button {
    display: none;
  }
}
header section {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 992px) {
  header section {
    margin: 48px;
    text-align: center;
    flex-direction: column-reverse;
    text-align: center;
  }
}
header section .left-side {
  max-width: 546px;
  margin-top: 75px;
  position: relative;
}
header section .left-side h1 {
  color: #36536b;
  font-family: " DM Serif Display";
  font-size: 72px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.554px;
}
@media (max-width: 992px) {
  header section .left-side h1 {
    font-size: 48px;
  }
}
@media (max-width: 700px) {
  header section .left-side h1 {
    font-size: 32px;
  }
}
header section .left-side form {
  background-color: white;
  border-radius: 24px;
  display: flex;
  justify-content: space-between;
  max-width: 445px;
  margin-top: 21px;
  margin-bottom: 16px;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
}
@media (max-width: 700px) {
  header section .left-side form {
    flex-direction: column;
    background-color: #edf3f8;
    justify-content: center;
    gap: 16px;
    width: 100%;
    box-shadow: unset;
  }
}
header section .left-side form input[type=text] {
  padding: 15px 27px;
  border-radius: 24px;
  color: #6c8294;
  border: none;
  background: #fbfcfe;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  outline: none;
  width: 100%;
}
@media (max-width: 700px) {
  header section .left-side form input[type=text] {
    width: 100%;
  }
}
header section .left-side form input[type=submit] {
  margin-left: auto;
  padding: 14px 24px;
  border-radius: 24px;
  background: #ba4270;
  box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  border: none;
  color: #fbfcfe;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 700;
  letter-spacing: -0.115px;
}
header section .left-side form input[type=submit]:hover {
  background-color: #da6d97;
}
@media (max-width: 700px) {
  header section .left-side form input[type=submit] {
    width: 100%;
  }
}
header section .left-side p {
  color: #36536b;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 400;
  margin-left: 27px;
}
header section .left-side p span {
  color: #36536b;
  font-family: "Public Sans";
  font-size: 15px;
  font-weight: 700;
}
header .first-circle {
  position: absolute;
  top: -172px;
  right: -140px;
  z-index: -1;
}
@media (max-width: 992px) {
  header .first-circle {
    left: 50%;
    transform: translate(-50%);
    top: -400px;
  }
}/*# sourceMappingURL=style.css.map */